html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  font-size: clamp(16px, 0.6vw + 0.85rem, 22px);
}

body{
    padding: 5px;
    color:var(--cor-texto);
    background-color: var(--cor-fundo);
    font-family: var(--font-base);  
}

section {
    scroll-margin-top: calc(6.5rem + 2*var(--border-width)); 
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6, a {
  overflow-wrap: break-word;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th, td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}